<div class="page-header">
    status:{{main.selected.fields.requestStatus}}
</div>
<ul class="list-group">
    <li class="list-group-item">BlankNum :{{main.selected.fields.BlankNum}}</li>
    <li class="list-group-item">Info :{{main.selected.fields.Info}}</li>
    <li class="list-group-item">LicenseDate :{{main.selected.fields.LicenseDate | tojstime | date : 'dd.MM.yyyy HH:mm:ss'}}</li>
    <li class="list-group-item">LicenseNum :{{main.selected.fields.LicenseNum}}</li>
    <li class="list-group-item">Model :{{main.selected.fields.Model}}</li>
    <li class="list-group-item">OgrnDate :{{main.selected.fields.OgrnDate | tojstime | date : 'dd.MM.yyyy HH:mm:ss'}}</li>
    <li class="list-group-item">OgrnNum :{{main.selected.fields.OgrnNum}}</li>
    <li class="list-group-item">RegNum :{{main.selected.fields.RegNum}}</li>
    <li class="list-group-item">Year :{{main.selected.fields.Year}}</li>
    <li class="list-group-item">headers :{{main.selected.fields.headers}}</li>
</ul>