<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <select ng-model="main.moreThenDate"
                    ng-options="(one.fields.requestTime | tojstime | date : 'dd.MM.yyyy HH:mm:ss') for one in main.requestCollection">

            </select>
        </div>
        <div class="col-md-6">
            <select ng-model="main.lessThenDate"
                    ng-options="(one.fields.requestTime | tojstime | date : 'dd.MM.yyyy HH:mm:ss') for one in main.requestCollection">

            </select>
        </div>
    </div>

</div>

<div class="row marketing">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Ping</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-click="main.showInfo(one)" ng-repeat="one in main.requestCollection | filter: main.dateFilter">
            <td>
                {{one.fields.requestTime | tojstime | date : 'dd.MM.yyyy HH:mm:ss'}}
            </td>
            <td>{{one.fields.ping}}</td>
            <td>{{one.fields.requestStatus}}</td>
        </tr>
        </tbody>
    </table>
</div>
